<!DOCTYPE html>
<html>
	<head>
		{% include head.html project_title="Debian GIS Pure Blend" page_title=page.title %}
	</head>

	<body>
		{% include header.html project_title="Debian GIS Pure Blend" project_short="GIS Pure Blend" project_menu="gis_menu.html" page_title=page.title %}

		<div id="content">
			{{ content }}
		</div>

		{% include footer.html team_name="Debian GIS Pure Blend" team_mail="debian-gis@lists.debian.org" team_archives="https://lists.debian.org/debian-gis/" team_irc="debian-gis" %}

	</body>
</html>
