/* SPDX-License-Identifier: GPL-3.0-or-later */

body {
    font-family: sans-serif;
    font-size: 14px;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    font-weight: normal;
    font-size: 30px;
}

a {
    text-decoration: none;
}

/* Header - Logo and advertising */
header .logo {
    text-align: center;
    max-width: 100%;
    margin: 0 -15px;
}

header .advertising {
    text-align: center;
    font-style: italic;
}

.logo img {
    max-height: 93px;
    max-width: calc(100% + 30px);
}

/* Navigation Links */
nav.with-js {
    cursor: pointer;
    display: inline-block;
    color: rgb(0, 0, 238);
}

/* Dropdown styling */
.dropdown.with-js p {
    display: inline-block;
    padding: 1em 1.5em;
    box-sizing: border-box;
    margin: 0;
    background-color: #eee;
    border-radius: 4px;
}

.dropdown.with-js p:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 8px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.dropdown.with-js ol {
    list-style: none;
    display: none;
    margin: 0;
}

.dropdown.with-js ol {
    padding-left: 0;
}

.dropdown.with-js > ol {
    border: 1px solid lightgrey;
    padding: 0.5em 0;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    position: absolute;
    background: white;
}

.dropdown.with-js.open ol {
    display: block;
}

.dropdown.with-js a {
    display: inline-block;
    width: 100%;
    padding: 0.5em 1.5em;
    box-sizing: border-box;
    margin: 0;
}

.dropdown.with-js a,
.dropdown.with-js a:visited {
    color: black;
}

.dropdown.with-js li li a {
    padding-left: 3em;
}

.dropdown.with-js a:hover {
    background-color: #f5f5f5;
}

/* Summary totals */
.summary header {
    display: none;
}

.totals {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
}

.total {
    flex-basis: 12em;
    flex-grow: 1;
    margin-top: 0;
}

.total-value.important {
    font-weight: bold;
}

/* Task listing on index page */
.tasks .task {
    border-bottom: 1px solid #eee;
    margin: 1em;
}

.task dt {
    font-size: 18px;
    font-weight: lighter;
}

.task .description {
    margin-top: 0;
}

/* Package */
.package {
    border-radius: 4px;
    border: 1px solid #eee;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.package-header {
    cursor: pointer;
    display: flex;
}

.package-header p {
    margin: 0;
    padding: 14px 0;
}

.package-name {
    flex-grow: 1;
    font-size: 18px;
    font-weight: lighter;
}

.package-name:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.packages.with-js .package > section {
    display: none;
}

.packages.with-js .package.show-full > section {
    display: block;
}

.package-header .status {
    margin-left: 1em;
}

.package-header .status .icon {
    font-size: 18px;
}

.package-header .autoremoval .icon,
.package-header .ci-failing .icon,
.package-header .migration .icon {
    color: red;
}

.package-header .piuparts .icon {
    color: orange;
}

.package > section {
    border-left: 4px solid black;
    padding: 0.1em 1em;
    margin: 1em 0;
}

.package > section.autoremoval,
.package > section.ci-failing,
.package > section.migration {
    border-color: red;
    background-color: #fdf7f7;
}

.package > section.ci-missing {
    background-color: #f4f4f4;
}

.package > section.piuparts {
    border-color: orange;
    background-color: #fffcef;
}
